body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(232, 243, 245), rgb(248, 241, 245));

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}